In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv("/content/laptop_cleaned_v2.csv")
df.head()

,brand_name,price,rating,processor_gen,processor_brand,processor_segment,CPU_mark,CPU_performance,Graphic_card_memory,graphic_card_name,graphic_card_num,Core,threads,display_inches,ram_storage,ram_type,operating_system,SSD_storage
0,hp,49490,70,5th,amd,5,5600H,maximum performance,4 GB,amd radeon,other,6.0,12.0,15.6,8,DDR4,11.0,512 GB SSD
1,xiaomi,102990,78,14th,intel,i9,14900HX,maximum performance,8 GB,nvidia geforce,4060,24.0,32.0,other,16,DDR5,11.0,1 TB SSD
2,hp,81490,73,7th,amd,7,7840HS,high efficiency,6 GB,nvidia geforce,3050,8.0,16.0,other,16,DDR5,11.0,1 TB SSD
3,asus,49990,64,11th,intel,i5,11400H,maximum performance,4 GB,nvidia geforce,2050,6.0,12.0,15.6,8,DDR4,11.0,512 GB SSD
4,asus,52990,66,11th,intel,i5,11400H,maximum performance,4 GB,nvidia geforce,2050,6.0,12.0,15.6,16,DDR4,11.0,512 GB SSD

In [ ]:
df.info

<bound method DataFrame.info of     brand_name   price  rating processor_gen processor_brand  \
0           hp   49490      70           5th             amd
1       xiaomi  102990      78          14th           intel
2           hp   81490      73           7th             amd
3         asus   49990      64          11th           intel
4         asus   52990      66          11th           intel
..         ...     ...     ...           ...             ...
527       dell   75500      63           4th             amd
528     lenovo  151990      75          10th           intel
529     lenovo   46500      48           8th           intel
530        msi  109990      61           9th           intel
531         hp   95800      70           9th           intel

    processor_segment CPU_mark      CPU_performance Graphic_card_memory  \
0                   5    5600H  maximum performance                4 GB
1                  i9  14900HX  maximum performance                8 GB
2                   7   7840HS      high efficiency                6 GB
3                  i5   11400H  maximum performance                4 GB
4                  i5   11400H  maximum performance                4 GB
..                ...      ...                  ...                 ...
527                 5    4600H  maximum performance                6 GB
528                i7   10875H  maximum performance                8 GB
529                i5    8250U      ultra-low power          Integrated
530                i7    9750H  maximum performance                6 GB
531                i7    9750H  maximum performance                4 GB

    graphic_card_name graphic_card_num  Core  threads display_inches  \
0          amd radeon            other   6.0     12.0           15.6
1      nvidia geforce             4060  24.0     32.0          other
2      nvidia geforce             3050   8.0     16.0          other
3      nvidia geforce             2050   6.0     12.0           15.6
4      nvidia geforce             2050   6.0     12.0           15.6
..                ...              ...   ...      ...            ...
527        amd radeon            other   6.0     12.0           15.6
528    nvidia geforce            other   8.0     16.0           15.6
529  Intel Integrated            other   4.0      8.0          other
530    nvidia geforce            other   6.0     12.0          other
531    nvidia geforce             1650   6.0     12.0           15.6

     ram_storage ram_type  operating_system SSD_storage
0              8     DDR4              11.0  512 GB SSD
1             16     DDR5              11.0    1 TB SSD
2             16     DDR5              11.0    1 TB SSD
3              8     DDR4              11.0  512 GB SSD
4             16     DDR4              11.0  512 GB SSD
..           ...      ...               ...         ...
527            8     DDR4              10.0  512 GB SSD
528           16     DDR4              10.0    1 TB SSD
529            4     DDR4               NaN       other
530            8    other               NaN       other
531            8     DDR4               NaN       other

[532 rows x 18 columns]>

In [ ]:
df.isnull

<bound method DataFrame.isnull of     brand_name   price  rating processor_gen processor_brand  \
0           hp   49490      70           5th             amd
1       xiaomi  102990      78          14th           intel
2           hp   81490      73           7th             amd
3         asus   49990      64          11th           intel
4         asus   52990      66          11th           intel
..         ...     ...     ...           ...             ...
527       dell   75500      63           4th             amd
528     lenovo  151990      75          10th           intel
529     lenovo   46500      48           8th           intel
530        msi  109990      61           9th           intel
531         hp   95800      70           9th           intel

    processor_segment CPU_mark      CPU_performance Graphic_card_memory  \
0                   5    5600H  maximum performance                4 GB
1                  i9  14900HX  maximum performance                8 GB
2                   7   7840HS      high efficiency                6 GB
3                  i5   11400H  maximum performance                4 GB
4                  i5   11400H  maximum performance                4 GB
..                ...      ...                  ...                 ...
527                 5    4600H  maximum performance                6 GB
528                i7   10875H  maximum performance                8 GB
529                i5    8250U      ultra-low power          Integrated
530                i7    9750H  maximum performance                6 GB
531                i7    9750H  maximum performance                4 GB

    graphic_card_name graphic_card_num  Core  threads display_inches  \
0          amd radeon            other   6.0     12.0           15.6
1      nvidia geforce             4060  24.0     32.0          other
2      nvidia geforce             3050   8.0     16.0          other
3      nvidia geforce             2050   6.0     12.0           15.6
4      nvidia geforce             2050   6.0     12.0           15.6
..                ...              ...   ...      ...            ...
527        amd radeon            other   6.0     12.0           15.6
528    nvidia geforce            other   8.0     16.0           15.6
529  Intel Integrated            other   4.0      8.0          other
530    nvidia geforce            other   6.0     12.0          other
531    nvidia geforce             1650   6.0     12.0           15.6

     ram_storage ram_type  operating_system SSD_storage
0              8     DDR4              11.0  512 GB SSD
1             16     DDR5              11.0    1 TB SSD
2             16     DDR5              11.0    1 TB SSD
3              8     DDR4              11.0  512 GB SSD
4             16     DDR4              11.0  512 GB SSD
..           ...      ...               ...         ...
527            8     DDR4              10.0  512 GB SSD
528           16     DDR4              10.0    1 TB SSD
529            4     DDR4               NaN       other
530            8    other               NaN       other
531            8     DDR4               NaN       other

[532 rows x 18 columns]>

In [ ]:
df.notnull

<bound method DataFrame.notnull of     brand_name   price  rating processor_gen processor_brand  \
0           hp   49490      70           5th             amd
1       xiaomi  102990      78          14th           intel
2           hp   81490      73           7th             amd
3         asus   49990      64          11th           intel
4         asus   52990      66          11th           intel
..         ...     ...     ...           ...             ...
527       dell   75500      63           4th             amd
528     lenovo  151990      75          10th           intel
529     lenovo   46500      48           8th           intel
530        msi  109990      61           9th           intel
531         hp   95800      70           9th           intel

    processor_segment CPU_mark      CPU_performance Graphic_card_memory  \
0                   5    5600H  maximum performance                4 GB
1                  i9  14900HX  maximum performance                8 GB
2                   7   7840HS      high efficiency                6 GB
3                  i5   11400H  maximum performance                4 GB
4                  i5   11400H  maximum performance                4 GB
..                ...      ...                  ...                 ...
527                 5    4600H  maximum performance                6 GB
528                i7   10875H  maximum performance                8 GB
529                i5    8250U      ultra-low power          Integrated
530                i7    9750H  maximum performance                6 GB
531                i7    9750H  maximum performance                4 GB

    graphic_card_name graphic_card_num  Core  threads display_inches  \
0          amd radeon            other   6.0     12.0           15.6
1      nvidia geforce             4060  24.0     32.0          other
2      nvidia geforce             3050   8.0     16.0          other
3      nvidia geforce             2050   6.0     12.0           15.6
4      nvidia geforce             2050   6.0     12.0           15.6
..                ...              ...   ...      ...            ...
527        amd radeon            other   6.0     12.0           15.6
528    nvidia geforce            other   8.0     16.0           15.6
529  Intel Integrated            other   4.0      8.0          other
530    nvidia geforce            other   6.0     12.0          other
531    nvidia geforce             1650   6.0     12.0           15.6

     ram_storage ram_type  operating_system SSD_storage
0              8     DDR4              11.0  512 GB SSD
1             16     DDR5              11.0    1 TB SSD
2             16     DDR5              11.0    1 TB SSD
3              8     DDR4              11.0  512 GB SSD
4             16     DDR4              11.0  512 GB SSD
..           ...      ...               ...         ...
527            8     DDR4              10.0  512 GB SSD
528           16     DDR4              10.0    1 TB SSD
529            4     DDR4               NaN       other
530            8    other               NaN       other
531            8     DDR4               NaN       other

[532 rows x 18 columns]>

titanic dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/train_and_test2.csv")
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [ ]:
df.isnull

<bound method DataFrame.isnull of       Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1  22.0    7.2500    0      1     0       0       0       0
1               2  38.0   71.2833    1      1     0       0       0       0
2               3  26.0    7.9250    1      0     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
4               5  35.0    8.0500    0      0     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1304         1305  28.0    8.0500    0      0     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0
1306         1307  38.5    7.2500    0      0     0       0       0       0
1307         1308  28.0    8.0500    0      0     0       0       0       0
1308         1309  28.0   22.3583    0      1     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0          0  ...        0        0        0       3        0        0
1          0  ...        0        0        0       1        0        0
2          0  ...        0        0        0       3        0        0
3          0  ...        0        0        0       1        0        0
4          0  ...        0        0        0       3        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1304       0  ...        0        0        0       3        0        0
1305       0  ...        0        0        0       1        0        0
1306       0  ...        0        0        0       3        0        0
1307       0  ...        0        0        0       3        0        0
1308       0  ...        0        0        0       3        0        0

      Embarked  zero.17  zero.18  2urvived
0          2.0        0        0         0
1          0.0        0        0         1
2          2.0        0        0         1
3          2.0        0        0         1
4          2.0        0        0         0
...        ...      ...      ...       ...
1304       2.0        0        0         0
1305       0.0        0        0         0
1306       2.0        0        0         0
1307       2.0        0        0         0
1308       0.0        0        0         0

[1309 rows x 28 columns]>

In [ ]:
print("shape", df.shape)
df.info()
df.describe()

shape (1309, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.905241,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000

In [ ]:
duplicates = df.duplicated().sum()
print("duplicate rows:", duplicates)

duplicate rows: 0

In [ ]:
df['Sex'].value_counts()

Sex
0    843
1    466
Name: count, dtype: int64

dataset_1 (1).data 1 aug 2025

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/dataset_1 (1).data")
df.replace("?",np.nan,inplace=True)
print(df)

     3    ?  alfa-romero     gas    std   two  convertible  rwd  front  88.60  \
0    3  NaN  alfa-romero     gas    std   two  convertible  rwd  front   88.6
1    1  NaN  alfa-romero     gas    std   two    hatchback  rwd  front   94.5
2    2  164         audi     gas    std  four        sedan  fwd  front   99.8
3    2  164         audi     gas    std  four        sedan  4wd  front   99.4
4    2  NaN         audi     gas    std   two        sedan  fwd  front   99.8
..  ..  ...          ...     ...    ...   ...          ...  ...    ...    ...
199 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
200 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1
201 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
202 -1   95        volvo  diesel  turbo  four        sedan  rwd  front  109.1
203 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1

     ...  130  mpfi  3.47  2.68  9.00  111  5000  21  27  13495
0    ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1    ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2    ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3    ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4    ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250
..   ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
199  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
200  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
201  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
202  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
203  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[204 rows x 26 columns]

In [ ]:
missing_data=df.isnull()
missing_data.head(5)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
for column in missing_data.columns.values.tolist():
  print(column)
  print(missing_data[column].value_counts())
  print("")

3
3
False    204
Name: count, dtype: int64

?
?
False    164
True      40
Name: count, dtype: int64

alfa-romero
alfa-romero
False    204
Name: count, dtype: int64

gas
gas
False    204
Name: count, dtype: int64

std
std
False    204
Name: count, dtype: int64

two
two
False    202
True       2
Name: count, dtype: int64

convertible
convertible
False    204
Name: count, dtype: int64

rwd
rwd
False    204
Name: count, dtype: int64

front
front
False    204
Name: count, dtype: int64

88.60
88.60
False    204
Name: count, dtype: int64

168.80
168.80
False    204
Name: count, dtype: int64

64.10
64.10
False    204
Name: count, dtype: int64

48.80
48.80
False    204
Name: count, dtype: int64

2548
2548
False    204
Name: count, dtype: int64

dohc
dohc
False    204
Name: count, dtype: int64

four
four
False    204
Name: count, dtype: int64

130
130
False    204
Name: count, dtype: int64

mpfi
mpfi
False    204
Name: count, dtype: int64

3.47
3.47
False    200
True       4
Name: count, dtype: int64

2.68
2.68
False    200
True       4
Name: count, dtype: int64

9.00
9.00
False    204
Name: count, dtype: int64

111
111
False    202
True       2
Name: count, dtype: int64

5000
5000
False    202
True       2
Name: count, dtype: int64

21
21
False    204
Name: count, dtype: int64

27
27
False    204
Name: count, dtype: int64

13495
13495
False    200
True       4
Name: count, dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
imputer.fit(df[['normalized-losses','stroke','bore','horsepower','peak-rpm']])
df[['normalized-losses','stroke','bore','horsepower','peak-rpm']]=imputer.transform(df[['normalized-losses','stroke','bore','horsepower','peak-rpm']])

KeyError: "None of [Index(['normalized-losses', 'stroke', 'bore', 'horsepower', 'peak-rpm'], dtype='object')] are in the [columns]"

Building_Permits.csv.zip 1 aug 2025 HW

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("/content/Building_Permits.csv")

/tmp/ipython-input-659460712.py:1: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/Building_Permits.csv")

In [ ]:
df.replace("?", np.nan, inplace=True)

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False

In [ ]:
for column in missing_data.columns.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Permit Number
Permit Number
False    198900
Name: count, dtype: int64

Permit Type
Permit Type
False    198900
Name: count, dtype: int64

Permit Type Definition
Permit Type Definition
False    198900
Name: count, dtype: int64

Permit Creation Date
Permit Creation Date
False    198900
Name: count, dtype: int64

Block
Block
False    198900
Name: count, dtype: int64

Lot
Lot
False    198900
Name: count, dtype: int64

Street Number
Street Number
False    198900
Name: count, dtype: int64

Street Number Suffix
Street Number Suffix
True     196684
False      2216
Name: count, dtype: int64

Street Name
Street Name
False    198900
Name: count, dtype: int64

Street Suffix
Street Suffix
False    196132
True       2768
Name: count, dtype: int64

Unit
Unit
True     169421
False     29479
Name: count, dtype: int64

Unit Suffix
Unit Suffix
True     196939
False      1961
Name: count, dtype: int64

Description
Description
False    198610
True        290
Name: count, dtype: int64

Current Status
Current Status
False    198900
Name: count, dtype: int64

Current Status Date
Current Status Date
False    198900
Name: count, dtype: int64

Filed Date
Filed Date
False    198900
Name: count, dtype: int64

Issued Date
Issued Date
False    183960
True      14940
Name: count, dtype: int64

Completed Date
Completed Date
True     101709
False     97191
Name: count, dtype: int64

First Construction Document Date
First Construction Document Date
False    183954
True      14946
Name: count, dtype: int64

Structural Notification
Structural Notification
True     191978
False      6922
Name: count, dtype: int64

Number of Existing Stories
Number of Existing Stories
False    156116
True      42784
Name: count, dtype: int64

Number of Proposed Stories
Number of Proposed Stories
False    156032
True      42868
Name: count, dtype: int64

Voluntary Soft-Story Retrofit
Voluntary Soft-Story Retrofit
True     198865
False        35
Name: count, dtype: int64

Fire Only Permit
Fire Only Permit
True     180073
False     18827
Name: count, dtype: int64

Permit Expiration Date
Permit Expiration Date
False    147020
True      51880
Name: count, dtype: int64

Estimated Cost
Estimated Cost
False    160834
True      38066
Name: count, dtype: int64

Revised Cost
Revised Cost
False    192834
True       6066
Name: count, dtype: int64

Existing Use
Existing Use
False    157786
True      41114
Name: count, dtype: int64

Existing Units
Existing Units
False    147362
True      51538
Name: count, dtype: int64

Proposed Use
Proposed Use
False    156461
True      42439
Name: count, dtype: int64

Proposed Units
Proposed Units
False    147989
True      50911
Name: count, dtype: int64

Plansets
Plansets
False    161591
True      37309
Name: count, dtype: int64

TIDF Compliance
TIDF Compliance
True     198898
False         2
Name: count, dtype: int64

Existing Construction Type
Existing Construction Type
False    155534
True      43366
Name: count, dtype: int64

Existing Construction Type Description
Existing Construction Type Description
False    155534
True      43366
Name: count, dtype: int64

Proposed Construction Type
Proposed Construction Type
False    155738
True      43162
Name: count, dtype: int64

Proposed Construction Type Description
Proposed Construction Type Description
False    155738
True      43162
Name: count, dtype: int64

Site Permit
Site Permit
True     193541
False      5359
Name: count, dtype: int64

Supervisor District
Supervisor District
False    197183
True       1717
Name: count, dtype: int64

Neighborhoods - Analysis Boundaries
Neighborhoods - Analysis Boundaries
False    197175
True       1725
Name: count, dtype: int64

Zipcode
Zipcode
False    197184
True       1716
Name: count, dtype: int64

Location
Location
False    197200
True       1700
Name: count, dtype: int64

Record ID
Record ID
False    198900
Name: count, dtype: int64

In [ ]:
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import pandas as pd
df= pd.read_csv("/content/tvmarketing - tvmarketing.csv")
sales = np.array([54,44,45,65,875,76,]).reshape(-1,1)
TV = np.array([184,166,79,97,965,735]).reshape(-1,1)
model = LinearRegression()
model.fit(TV,sales)
m=model.coef_[0]
b=model.intercept_
print(m,b)
model_pred=model.predict(sales)
plt.scatter(TV,sales,color="Green")
plt.plot(TV,model_pred,color='red',label="Linear Regression")
plt.xlabel("TV")
plt.ylabel("sales")
plt.legend()
plt.show()

ValueError: Expected 2D array, got 1D array instead:
array=[184 166  79  97 965 735].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
from sklearn.datasets import load_iris
from sklearn.learn_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'sklearn.learn_model'